/* =================== VARIABLES =============== */
$default-font-size: 12px;

//========= COLORS =========//
$color-primary: #11C176;
$color-secondary: #1B2753;

$color-grey-dark: #959595;

$color-black-deep: #131313;
$color-black: #484848;

$color-white: #fff;

